.text {
    color: #000;
    text-align: justify;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    overflow-y: hidden;
    resize: none;
    width: 100%;
    border: none;

}

.textAnswer {
    color: #000;
    text-align: justify;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    overflow-y: hidden;
    resize: none;
    width: 100%;
    border: none;
    padding-right: 5px;

}

.text:focus {
    outline: none;
}

.textAnswer:focus {
    outline: none;
}

.componentBox {
    background-color: white;
    border: 1px;
    /*borderColor: #667085;*/
    /*color: #FFFFFF;*/
    /*width: 769px;*/
    margin: 0 auto;
    top: 446px;
    left: 336px;
    min-height: 44px;
}

.userNameText{
    color: #000000;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: bold;
    /*size: 18px;*/
    /*weight: 700;*/
    height: 22px;
    text-align: justify;
    padding-right: 16px;
}

.dateText{
    margin-left: 8px;
    font-family: Inter, sans-serif;
    color: #667085;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.likeCount {
    display: flex;
    align-items: center; /* Center text vertically */
    color: #667085;
    text-align: justify;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.likesContainer {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items vertically */
    gap: 5px;
    flex-wrap: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflowing text */
    max-width: 100%; /* Ensure it doesn't go beyond the container */
}

/* Adjust the width of the like count container based on content */
.likesContainer.expanded {
    flex: 1;
}

.cancelButton{
    width: 96px;
    height: 32px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.answerButton{
    width: 96px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #0C6;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;

}

.buttonsContainers{
    gap: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 16px;
}

.inputComment{
    color: #667085;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FFFFFF;
    border: #FFFFFF;
    display: flex;
    width: 100%;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding: 0px 20px 0px 20px;
    overflow-y: hidden;
    resize: none;
}

.inputComment:focus {
    outline: none;
}


.line{
    height: 1px;
    background: #667085;
    display: flex;
    flex-direction: inherit;
    justify-content: inherit;
    flex-shrink: 0;
    padding: 0px 20px 0px 20px;
    width: 730.051px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #667085;
    margin-top: 5px;

}

.commentBox{
    display: flex;
    flex-direction: column;
}

.responseCommentBox{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.responseUserInfo {
    color: #000;
    font-size: 16px;
    margin-left: 70px;
}

.replyToComment{
    color: #000;
    font-size: 16px;
    margin-left: 70px;
}

.replyToCommentContainer{
    color: #667085;
    font-family: Inter, sans-serif;
    font-size: 14px;
    margin-left: 70px;
}

.userNameResponseField{
    color: #000000d5;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 22px;
    text-align: justify;
}

.editInput {
    /*width: 100%; */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 1rem;

}

.editButton {
    background-color: #0C6; /* Verde */
    color: #fff; /* Texto en blanco */
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

.editButton:hover {
    background-color: #018543;
}