/* Para la tabla */
.qualificationTable {
    width: 769px;
    height: 214px;
    top: 66px;
    left: 336px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: justify;
}

/* Para las celdas */
.tableHeadCell {
    /*font-weight: bold !important;*/
    font-family: 'Inter', sans-serif !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 22px !important;
    letter-spacing: 0em !important;
}

.tableInfoCell {
    font-family: Inter, sans-serif !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    letter-spacing: 0em !important;
}

.tableCell, .tableHeadCell {
    border: none;
    padding: 8px;
}

.tableRow, .noBorderRow {
    border-bottom: none;
}

.customTable {
    borderCollapse: separate;
    borderSpacing: 0;
}
