.wrapperLeft{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    position: relative;
    padding: 200px;
}

/*.miniContainer{*/
/*    padding: 50%;*/

/*}*/


.pageContainer{
    display:flex;
    flex-direction: row;
    height:100vh;
    width: 100%;
}


.wrapperRight{
    width:50%;
    background: #F2F4F7;
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
