.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labelContainer{
    display: flex;
    width: 360px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 9px;
    flex-shrink: 0;
    margin-bottom: 14px;
}

.label {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;

}

.input{
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    width: 360px;
    height: 44px;
    flex-shrink: 0;
    color: #667085;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-indent: 18px;
}

.input::placeholder{
    color: #667085;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-indent: 18px;
}

.line{
    width: 360px;
    height: 0px;
    background: #667085;
    border-bottom: 1px solid #667085;
}
/*The image that comes with the input tag changes color when your computer is on dark mode.*/
.inputCalendar{
    width: 361px;
    height: 56px;
    flex-shrink: 0;
    background: #FFF;
    border: 0px solid #D0D5DD;
    color: #667085;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button{
    width: 360px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #0C6;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 12px;
    border: 0px;
}

.text{
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 22px;
}

.link{
    color: #0C6;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #FFFFFF;
}


.actionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}