.tittleQuizzes{
    width: 748px;
    height: 46px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}