@import 'typeface-inter';

.userInfoContainer{
    display: flex;
    flex-direction: row;
    max-width: 770px;
    max-height: 196px;
    background: #FFF;
    box-shadow: 0 4px 4px 0
    rgba(0, 0, 0, 0.25);

    justify-content: space-between;
    padding: 24px;
    box-sizing: border-box;
}

.userAvatar{

    align-items: center;
    justify-content: center;
    width: 128px;
    height: 128px;
}

.userAvatar img {

    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.userBoxes{
    display:flex;
    flex-direction: row;
    gap:16px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.userInfoTitle {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.userInfoSubtitle{
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.userInfoEditableContainer{
    display:flex;
    flex-direction: row;
    gap: 16px;
}

.userActionDeleteButton{
    width: 143px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #EA0E0E;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.userActionFollowButton{
    width: 76px;
    height: 38px;
    flex-shrink: 0;
    background: #00CC66;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    border-radius: 8px;
    border: none;
}


